// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  background-color: #1e3066;
  &__text {
    color: #fff;
    font-size: .7em;
    font-weight: 500;
    padding: 40px 0;
  }
}
