// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.nav-menu {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	display: flex;
	&__logo{
		background-color: red;
		flex: 1;
	}
}
