// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
	background-color: #3fae49;
	color: #fff;
	border: none;
	border-radius: 2px;
	padding: .9em 5.6em;
	font-size: 16px;
	font-weight: 500;
}
